html,
body {
  margin: 0;
  padding: 0;
  text-align: center;
}

/* Latihan 1 */

.container {
  width: 800px;
  margin: 40px auto;
}

.container.satu {
  background-color: lightskyblue;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
}

.kolom-utama {
  flex: 3;
  order: 2;
  margin: 0 10px;
  text-align: justify;
}

.sidebar-satu {
  flex: 1;
  order: 1;
}

.sidebar-dua {
  flex: 1;
  order: 3;
}

/* Latihan 2 */

.container.dua {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.layanan {
  width: 200px;
  padding: 20px;
  text-align: center;
  margin: 5px;
}

.layanan.satu {
  background-color: lightsalmon;
}

.layanan.dua {
  background-color: lightseagreen;
}

.layanan.tiga {
  background-color: lightcoral;
}

.layanan.empat {
  background-color: limegreen;
}

.layanan.lima {
  background-color: cornflowerblue;
}

/* Latihan 3 */
.container.tiga {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.picture {
  width: 30%;
  margin: 5px;
}

.picture img {
  width: 100%;
}

/* Latihan 4 */
.container.empat {
  display: flex;
}

.card {
  background-color: rgb(216, 216, 216);
  border-radius: 10px;
  border: 3px solid gray;
  overflow: hidden;
  flex: 1;
  margin: 0px 10px;
  text-align: center;
  box-sizing: border-box;
}

.card .image {
  background-color: lightskyblue;
  height: 150px;
}

.card .text {
  padding: 20px;
}

.card.besar {
  transform: scale(1.12);
}
